# Impory libraries

In [47]:
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
from pylab import rcParams
rcParams['figure.figsize'] = 20, 10
import calendar
from numpy import asarray
from category_encoders import OrdinalEncoder
import gc
import lightgbm as lgbm
import warnings
import numpy as np
import sklearn

In [ ]:
pd.set_option('display.max_rows', 400)
pd.set_option('display.max_columns', 160)
pd.set_option('display.max_colwidth', 40)
warnings.filterwarnings("ignore")

# Task: Sales forecasting for Day-Store-Item

# Metrics for model evaluation

In [45]:
def rmse(y_true, y_pred):

    return np.sqrt(
        sklearn.metrics.mean_squared_error(
            y_true=y_true,
            y_pred=y_pred
        )
    )

# Dataset description

In [4]:
df_train = pd.read_csv(r'train.csv')
df_test = pd.read_csv(r'test.csv')
df_submission = pd.read_csv(r'submission.csv')
df_store = pd.read_csv(r'store.csv')
df_article = pd.read_csv(r'article.csv')
df_sales_count = pd.read_csv(r'sales_count.csv')
df_holidays = pd.read_csv(r'holidays.csv')

df_train['DAY_ID'] = pd.to_datetime(df_train['DAY_ID'])
df_test['DAY_ID'] = pd.to_datetime(df_test['DAY_ID'])
df_submission['DAY_ID'] = pd.to_datetime(df_submission['DAY_ID'])
df_sales_count['DAY_ID'] = pd.to_datetime(df_sales_count['DAY_ID'])
df_holidays['DAY_ID'] = pd.to_datetime(df_holidays['DAY_ID'])

In [5]:
df_train['DAY_ID'] = pd.to_datetime(df_train['DAY_ID'])
print(df_train.shape)
df_train.head()

(6448195, 5)

      DAY_ID  STORE_ID  ARTICLE_ID  SALES  IS_ACTION
0 2017-06-01         1       99197    3.0          0
1 2017-06-01         1      103520    2.0          0
2 2017-06-01         1      105574   11.0          0
3 2017-06-01         1      105575    9.0          0
4 2017-06-01         1      105577    2.0          0

In [6]:
df_test.head()

      DAY_ID  STORE_ID  ARTICLE_ID  IS_ACTION
0 2017-08-01         1      103520          0
1 2017-08-01         1      103665          0
2 2017-08-01         1      105574          0
3 2017-08-01         1      105575          0
4 2017-08-01         1      105693          0

In [7]:
print('train')
print('минимальная дата', df_train['DAY_ID'].min())
print('максимальная дата', df_train['DAY_ID'].max())

print('\ntest')
print('минимальная дата', df_test['DAY_ID'].min())
print('максимальная дата', df_test['DAY_ID'].max())

print('\nsubmission')
print('минимальная дата', df_submission['DAY_ID'].min())
print('максимальная дата', df_submission['DAY_ID'].max())

print('\nsales_count')
print('минимальная дата', df_sales_count['DAY_ID'].min())
print('максимальная дата', df_sales_count['DAY_ID'].max())

print('\nholidays')
print('минимальная дата', df_holidays['DAY_ID'].min())
print('максимальная дата', df_holidays['DAY_ID'].max())

train
минимальная дата 2017-06-01 00:00:00
максимальная дата 2017-07-31 00:00:00

test
минимальная дата 2017-08-01 00:00:00
максимальная дата 2017-08-15 00:00:00

submission
минимальная дата 2017-08-01 00:00:00
максимальная дата 2017-08-15 00:00:00

sales_count
минимальная дата 2017-06-01 00:00:00
максимальная дата 2017-08-15 00:00:00

holidays
минимальная дата 2017-04-14 00:00:00
максимальная дата 2017-12-25 00:00:00

## Sales and returns in total

In [8]:
df_train['SALES'].apply(lambda x: True if x>0 else False).value_counts()

True     6447711
False        484
Name: SALES, dtype: int64

## Number of records for each store

In [9]:
temp = pd.DataFrame(df_train['STORE_ID'].value_counts()).reset_index().rename(columns = {'index':'STORE_ID','STORE_ID': 'TRAIN_COUNT'})
temp = temp.merge(pd.DataFrame(df_test['STORE_ID'].value_counts()).reset_index().rename(columns = {'index':'STORE_ID','STORE_ID': 'TEST_COUNT'}), on = 'STORE_ID', how = 'outer')
temp.head()

   STORE_ID  TRAIN_COUNT  TEST_COUNT
0        44       170730       41727
1        45       169795       41709
2        47       168077       41230
3        49       164636       40232
4         3       163865       39607

# Number of records for each ATRICLE_ID

In [10]:
temp = pd.DataFrame(df_train['ARTICLE_ID'].value_counts()).reset_index().rename(columns = {'index':'ARTICLE_ID','ARTICLE_ID': 'TRAIN_COUNT'})
temp = temp.merge(pd.DataFrame(df_test['ARTICLE_ID'].value_counts()).reset_index().rename(columns = {'index':'ARTICLE_ID','ARTICLE_ID': 'TEST_COUNT'}), on = 'ARTICLE_ID', how = 'outer')
temp[temp['TRAIN_COUNT'].isna()]

      ARTICLE_ID  TRAIN_COUNT  TEST_COUNT
3873     2123727          NaN        83.0
3874     2122676          NaN        66.0
3875     2123468          NaN        65.0
3876     2123775          NaN        64.0
3877     2123410          NaN        55.0
3878     2123750          NaN        50.0
3879     2122868          NaN        48.0
3880     1980754          NaN        29.0
3881     2120723          NaN        28.0
3882     2114752          NaN        25.0
3883     2123036          NaN        23.0
3884     2123791          NaN        21.0
3885     2121690          NaN        19.0
3886     2011457          NaN        18.0
3887     2011470          NaN        17.0
3888     2011437          NaN        16.0
3889     2123839          NaN        13.0
3890     2121610          NaN        13.0
3891     2126842          NaN        12.0
3892     2123863          NaN        12.0
3893     2123711          NaN        12.0
3894     2116139          NaN        12.0
3895     2123859          NaN        10.0
3896     2116132          NaN        10.0
3897     2011448          NaN        10.0
3898     2011459          NaN         9.0
3899     2011468          NaN         9.0
3900     2123790          NaN         8.0
3901     2116238          NaN         7.0
3902     2122947          NaN         5.0
3903     2126944          NaN         5.0
3904     2123463          NaN         5.0
3905     2123209          NaN         5.0
3906     2123747          NaN         3.0
3907     2122818          NaN         2.0
3908     1956354          NaN         1.0
3909     2015898          NaN         1.0
3910     2011451          NaN         1.0

**Есть ARTICLE_IDs который встречаются лишь в TEST_DF

# Create the DataFrame

In [11]:
df = df_train.append(df_test)
df

            DAY_ID  STORE_ID  ARTICLE_ID  SALES  IS_ACTION
0       2017-06-01         1       99197    3.0          0
1       2017-06-01         1      103520    2.0          0
2       2017-06-01         1      105574   11.0          0
3       2017-06-01         1      105575    9.0          0
4       2017-06-01         1      105577    2.0          0
...            ...       ...         ...    ...        ...
1570963 2017-08-15        54     2089339    NaN          0
1570964 2017-08-15        54     2106464    NaN          1
1570965 2017-08-15        54     2110456    NaN          0
1570966 2017-08-15        54     2113914    NaN          1
1570967 2017-08-15        54     2116416    NaN          0

[8019163 rows x 5 columns]

## Attributes based on DAY_ID

In [12]:
df['MONTH']=df['DAY_ID'].dt.month
df['WEEK']=df['DAY_ID'].dt.week
df['DAY']=df['DAY_ID'].dt.day
df['WEEK_DAY']=df['DAY_ID'].dt.weekday # 0 - Monday, 4 - Friday
df['IS_WEEKEND']=[0 if x<5 else 1 for x in df['WEEK_DAY']]
df['DAY_OF_YEAR'] = df['DAY_ID'].dt.dayofyear
df

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152
1,2017-06-01,1,103520,2.0,0,6,22,1,3,0,152
2,2017-06-01,1,105574,11.0,0,6,22,1,3,0,152
3,2017-06-01,1,105575,9.0,0,6,22,1,3,0,152
4,2017-06-01,1,105577,2.0,0,6,22,1,3,0,152
...,...,...,...,...,...,...,...,...,...,...,...
1570963,2017-08-15,54,2089339,NaN,0,8,33,15,1,0,227
1570964,2017-08-15,54,2106464,NaN,1,8,33,15,1,0,227
1570965,2017-08-15,54,2110456,NaN,0,8,33,15,1,0,227
1570966,2017-08-15,54,2113914,NaN,1,8,33,15,1,0,227
1570967,2017-08-15,54,2116416,NaN,0,8,33,15,1,0,227

In [13]:
df_holidays['IS_HOLIDAY'] = 1
df = df.merge(df_holidays, on = 'DAY_ID', how = 'left')

df['IS_HOLIDAY'] = df['IS_HOLIDAY'].fillna(0)
df.head()

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152,0.0
1,2017-06-01,1,103520,2.0,0,6,22,1,3,0,152,0.0
2,2017-06-01,1,105574,11.0,0,6,22,1,3,0,152,0.0
3,2017-06-01,1,105575,9.0,0,6,22,1,3,0,152,0.0
4,2017-06-01,1,105577,2.0,0,6,22,1,3,0,152,0.0

### Attribute for the ARTICLE + STORE

In [14]:
df['FIRST_SALE_DAY'] = df['DAY_ID'].dt.dayofyear 

df['FIRST_SALE_DAY'] = df.groupby('ARTICLE_ID')['FIRST_SALE_DAY'].transform('min').astype('int16')
df['PREV_DAYS_ON_SALE'] = df['DAY_OF_YEAR'] - df['FIRST_SALE_DAY']
df.head()

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152,0.0,152,0
1,2017-06-01,1,103520,2.0,0,6,22,1,3,0,152,0.0,152,0
2,2017-06-01,1,105574,11.0,0,6,22,1,3,0,152,0.0,152,0
3,2017-06-01,1,105575,9.0,0,6,22,1,3,0,152,0.0,152,0
4,2017-06-01,1,105577,2.0,0,6,22,1,3,0,152,0.0,152,0

### Attributes for DAY OF WEEK and STORE

In [15]:
temp = df.groupby(['STORE_ID','WEEK_DAY']).agg({'SALES':'sum'}).reset_index()
temp = temp.merge(df.groupby(['STORE_ID']).agg({'SALES':'sum'}).reset_index(), on=['STORE_ID'], how='left')
temp.columns = ['STORE_ID','WEEK_DAY','STORE_DAY_SALES', 'STORE_TOTAL_SALES']
temp['DAY_QUALITY'] = temp['STORE_DAY_SALES']/temp['STORE_TOTAL_SALES']
temp = temp[['STORE_ID','WEEK_DAY','DAY_QUALITY']]
temp.head()

   STORE_ID  WEEK_DAY  DAY_QUALITY
0         1         0     0.156606
1         1         1     0.139085
2         1         2     0.166687
3         1         3     0.143217
4         1         4     0.169450

In [16]:
df = df.merge(temp, on = ['STORE_ID', 'WEEK_DAY'], how = 'inner')
df.head()

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE,DAY_QUALITY
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152,0.0,152,0,0.143217
1,2017-06-01,1,103520,2.0,0,6,22,1,3,0,152,0.0,152,0,0.143217
2,2017-06-01,1,105574,11.0,0,6,22,1,3,0,152,0.0,152,0,0.143217
3,2017-06-01,1,105575,9.0,0,6,22,1,3,0,152,0.0,152,0,0.143217
4,2017-06-01,1,105577,2.0,0,6,22,1,3,0,152,0.0,152,0,0.143217

In [17]:
temp = pd.DataFrame(df['MONTH'].unique(), columns = ['MONTH'])
#temp.columns = ['MONTH', 'DAYS_CNT']
temp['DAYS_CNT'] = temp['MONTH'].apply(lambda x: calendar.monthrange(2017,x)[1])
temp

   MONTH  DAYS_CNT
0      6        30
1      7        31
2      8        31

In [1]:
df = df.merge(temp, on = 'MONTH', how = 'inner')
df['DAY_QUALITY'] = df['DAY_QUALITY']*df['DAYS_CNT']
df.drop('DAYS_CNT', axis = 1, inplace=True)

NameError: name 'df' is not defined

## Attributes for ARTICLE

In [19]:
df_article['ARTICLE_GROUP'].unique()

array(['GROCERY I', 'CLEANING', 'BREAD/BAKERY', 'DELI', 'POULTRY', 'EGGS',
       'PERSONAL CARE', 'LINGERIE', 'BEVERAGES', 'AUTOMOTIVE', 'DAIRY',
       'GROCERY II', 'MEATS', 'FROZEN FOODS', 'HOME APPLIANCES',
       'SEAFOOD', 'PREPARED FOODS', 'LIQUOR,WINE,BEER', 'BEAUTY',
       'HARDWARE', 'LAWN AND GARDEN', 'PRODUCE', 'HOME AND KITCHEN II',
       'HOME AND KITCHEN I', 'MAGAZINES', 'HOME CARE', 'PET SUPPLIES',
       'BABY CARE', 'SCHOOL AND OFFICE SUPPLIES',
       'PLAYERS AND ELECTRONICS', 'CELEBRATION', 'LADIESWEAR', 'BOOKS'],
      dtype=object)

In [20]:
df_article.groupby(['ARTICLE_GROUP', 'ARTICLE_CLASS']).count().reset_index()

                  ARTICLE_GROUP  ARTICLE_CLASS  ARTICLE_ID
0                    AUTOMOTIVE           6806           5
1                    AUTOMOTIVE           6808           2
2                    AUTOMOTIVE           6810           6
3                    AUTOMOTIVE           6824           2
4                    AUTOMOTIVE           6848           5
5                     BABY CARE           6022           1
6                        BEAUTY           4210           1
7                        BEAUTY           4212           1
8                        BEAUTY           4214           2
9                        BEAUTY           4222           2
10                       BEAUTY           4228           1
11                       BEAUTY           4250           1
12                       BEAUTY           4252           5
13                       BEAUTY           4254           5
14                       BEAUTY           4255           1
15                    BEVERAGES           1114          42
16                    BEVERAGES           1115           2
17                    BEVERAGES           1116          18
18                    BEVERAGES           1118          26
19                    BEVERAGES           1120          61
20                    BEVERAGES           1122          81
21                    BEVERAGES           1124         100
22                    BEVERAGES           1126          36
23                    BEVERAGES           1132          21
24                    BEVERAGES           1136          27
25                    BEVERAGES           1138           9
26                    BEVERAGES           1142          37
27                    BEVERAGES           1144          35
28                    BEVERAGES           1146           7
29                    BEVERAGES           1148          62
30                    BEVERAGES           1150           1
31                    BEVERAGES           1152           4
32                    BEVERAGES           1153           1
33                    BEVERAGES           1154           2
34                    BEVERAGES           1156           1
35                    BEVERAGES           1190          40
36                        BOOKS           5192           1
37                 BREAD/BAKERY           2702          14
38                 BREAD/BAKERY           2704           3
39                 BREAD/BAKERY           2708          24
40                 BREAD/BAKERY           2712          17
41                 BREAD/BAKERY           2714           9
42                 BREAD/BAKERY           2716           9
43                 BREAD/BAKERY           2718          22
44                 BREAD/BAKERY           2720           2
45                 BREAD/BAKERY           2722           4
46                 BREAD/BAKERY           2750           3
47                 BREAD/BAKERY           2752           9
48                 BREAD/BAKERY           2756          12
49                 BREAD/BAKERY           2782           1
50                 BREAD/BAKERY           2784           1
51                 BREAD/BAKERY           2786           4
52                  CELEBRATION           5308           3
53                  CELEBRATION           5322           5
54                  CELEBRATION           5324          22
55                  CELEBRATION           5325           1
56                     CLEANING           3004          27
57                     CLEANING           3005           1
58                     CLEANING           3006           2
59                     CLEANING           3008          26
60                     CLEANING           3010           4
61                     CLEANING           3012           3
62                     CLEANING           3014          17
63                     CLEANING           3015           4
64                     CLEANING           3016          19
65                     CLEANING           3018          17
66                     CLEANING           3020          60
67                     CLEANING           3022          11
68                     CLEANING           3024          17
69                     CLEANING           3026          29
70                     CLEANING           3028          10
71                     CLEANING           3029           1
72                     CLEANING           3030          10
73                     CLEANING           3032          29
74                     CLEANING           3034          41
75                     CLEANING           3035           1
76                     CLEANING           3038          23
77                     CLEANING           3040          28
78                     CLEANING           3044          20
79                     CLEANING           3046          35
80                     CLEANING           3060           4
81                     CLEANING           3090           7
82                        DAIRY           2102           9
83                        DAIRY           2103           1
84                        DAIRY           2104           6
85                        DAIRY           2108           8
86                        DAIRY           2112          11
87                        DAIRY           2114           5
88                        DAIRY           2116          30
89                        DAIRY           2122           1
90                        DAIRY           2124          25
91                        DAIRY           2128          10
92                        DAIRY           2130          10
93                        DAIRY           2142           9
94                        DAIRY           2152           6
95                        DAIRY           2156           2
96                        DAIRY           2162          16
97                        DAIRY           2164           7
98                        DAIRY           2166          18
99                        DAIRY           2168           4
100                       DAIRY           2170          21
101                       DAIRY           2172          18
102                       DAIRY           2174          20
103                       DAIRY           2178           5
104                        DELI           2630          10
105                        DELI           2632          16
106                        DELI           2636          19
107                        DELI           2640           1
108                        DELI           2642           2
109                        DELI           2644          23
110                        DELI           2646           2
111                        DELI           2650           4
112                        DELI           2652           4
113                        DELI           2654           2
114                        DELI           2662           4
115                        DELI           2664           2
116                        DELI           2690           2
117                        EGGS           2502          36
118                        EGGS           2504           2
119                        EGGS           2506           3
120                FROZEN FOODS           2208           3
121                FROZEN FOODS           2210           6
122                FROZEN FOODS           2214           1
123                FROZEN FOODS           2218           7
124                FROZEN FOODS           2220           6
125                FROZEN FOODS           2222           4
126                FROZEN FOODS           2226          11
127                FROZEN FOODS           2228          11
128                FROZEN FOODS           2238           1
129                FROZEN FOODS           2242           1
130                FROZEN FOODS           2246           4
131                   GROCERY I           1002          31
132                   GROCERY I           1003           4
133                   GROCERY I           1004          39
134                   GROCERY I           1005           1
135                   GROCERY I           1006          12
136                   GROCERY I           1008          12
137                   GROCERY I           1010          22
138                   GROCERY I           1012          10
139                   GROCERY I           1013           2
140                   GROCERY I           1014          26
141                   GROCERY I           1016         133
142                   GROCERY I           1018           1
143                   GROCERY I           1022           9
144                   GROCERY I           1024           4
145                   GROCERY I           1025           2
146                   GROCERY I           1026          54
147                   GROCERY I           1027           2
148                   GROCERY I           1028          48
149                   GROCERY I           1029           1
150                   GROCERY I           1030          51
151                   GROCERY I           1032          65
152                   GROCERY I           1033           3
153                   GROCERY I           1034          98
154                   GROCERY I           1035           6
155                   GROCERY I           1036          27
156                   GROCERY I           1038           4
157                   GROCERY I           1039           8
158                   GROCERY I           1040         110
159                   GROCERY I           1041           1
160                   GROCERY I           1042          51
161                   GROCERY I           1044          30
162                   GROCERY I           1045          24
163                   GROCERY I           1046           1
164                   GROCERY I           1048          20
165                   GROCERY I           1050           8
166                   GROCERY I           1052          11
167                   GROCERY I           1054           2
168                   GROCERY I           1056           9
169                   GROCERY I           1058          16
170                   GROCERY I           1060          19
171                   GROCERY I           1062          30
172                   GROCERY I           1063           7
173                   GROCERY I           1064           2
174                   GROCERY I           1066           5
175                   GROCERY I           1067           2
176                   GROCERY I           1068          22
177                   GROCERY I           1070           4
178                   GROCERY I           1072          70
179                   GROCERY I           1073           2
180                   GROCERY I           1074          39
181                   GROCERY I           1075           2
182                   GROCERY I           1076          23
183                   GROCERY I           1077           3
184                   GROCERY I           1078          12
185                   GROCERY I           1079           1
186                   GROCERY I           1080          10
187                   GROCERY I           1082           7
188                   GROCERY I           1083           1
189                   GROCERY I           1084          20
190                   GROCERY I           1086          17
191                   GROCERY I           1087           3
192                   GROCERY I           1088          17
193                   GROCERY I           1089           1
194                   GROCERY I           1092          19
195                   GROCERY I           1093           5
196                   GROCERY I           1094          15
197                   GROCERY I           1096          18
198                  GROCERY II           1236          14
199                    HARDWARE           6706           4
200          HOME AND KITCHEN I           6206           3
201          HOME AND KITCHEN I           6212           4
202          HOME AND KITCHEN I           6222           3
203          HOME AND KITCHEN I           6223           1
204          HOME AND KITCHEN I           6230           1
205          HOME AND KITCHEN I           6232           2
206          HOME AND KITCHEN I           6233           1
207          HOME AND KITCHEN I           6238           1
208          HOME AND KITCHEN I           6241           1
209          HOME AND KITCHEN I           6242          15
210          HOME AND KITCHEN I           6246           4
211          HOME AND KITCHEN I           6248           1
212          HOME AND KITCHEN I           6253           2
213          HOME AND KITCHEN I           6257           8
214          HOME AND KITCHEN I           6258           5
215          HOME AND KITCHEN I           6260           1
216          HOME AND KITCHEN I           6262           2
217          HOME AND KITCHEN I           6266           2
218          HOME AND KITCHEN I           6267           1
219          HOME AND KITCHEN I           6269          19
220         HOME AND KITCHEN II           6301           1
221         HOME AND KITCHEN II           6322           1
222         HOME AND KITCHEN II           6328           3
223         HOME AND KITCHEN II           6329           4
224         HOME AND KITCHEN II           6330           8
225         HOME AND KITCHEN II           6338           2
226         HOME AND KITCHEN II           6344           5
227         HOME AND KITCHEN II           6350           7
228         HOME AND KITCHEN II           6352           4
229         HOME AND KITCHEN II           6353           2
230         HOME AND KITCHEN II           6392           7
231         HOME AND KITCHEN II           6393           1
232             HOME APPLIANCES           6155           1
233                   HOME CARE           3102           3
234                   HOME CARE           3104           4
235                   HOME CARE           3106          53
236                   HOME CARE           3108          16
237                   HOME CARE           3110          31
238                   HOME CARE           3116           1
239                  LADIESWEAR           7780          21
240             LAWN AND GARDEN           6918           4
241             LAWN AND GARDEN           6920           8
242             LAWN AND GARDEN           6922           5
243             LAWN AND GARDEN           6924           1
244             LAWN AND GARDEN           6936           4
245             LAWN AND GARDEN           6954           2
246             LAWN AND GARDEN           6960           2
247                    LINGERIE           7002           6
248                    LINGERIE           7016           4
249                    LINGERIE           7034          10
250            LIQUOR,WINE,BEER           1302           2
251            LIQUOR,WINE,BEER           1306           1
252            LIQUOR,WINE,BEER           1310           4
253            LIQUOR,WINE,BEER           1312           2
254            LIQUOR,WINE,BEER           1314           2
255            LIQUOR,WINE,BEER           1316           1
256            LIQUOR,WINE,BEER           1318          32
257            LIQUOR,WINE,BEER           1320           2
258            LIQUOR,WINE,BEER           1326           2
259            LIQUOR,WINE,BEER           1328           1
260            LIQUOR,WINE,BEER           1330           8
261            LIQUOR,WINE,BEER           1334           2
262            LIQUOR,WINE,BEER           1336           1
263            LIQUOR,WINE,BEER           1338           3
264            LIQUOR,WINE,BEER           1364           2
265            LIQUOR,WINE,BEER           1370           1
266            LIQUOR,WINE,BEER           1380           1
267            LIQUOR,WINE,BEER           1386           4
268            LIQUOR,WINE,BEER           1387           2
269                   MAGAZINES           5222           2
270                   MAGAZINES           5224           2
271                   MAGAZINES           5244           1
272                   MAGAZINES           5250           1
273                       MEATS           2302          59
274                       MEATS           2304           9
275                       MEATS           2306          13
276                       MEATS           2340           1
277                       MEATS           2372           2
278               PERSONAL CARE           4104           5
279               PERSONAL CARE           4114          28
280               PERSONAL CARE           4118          19
281               PERSONAL CARE           4122           6
282               PERSONAL CARE           4126          40
283               PERSONAL CARE           4130           5
284               PERSONAL CARE           4138          29
285               PERSONAL CARE           4139           1
286               PERSONAL CARE           4140           1
287               PERSONAL CARE           4141           1
288               PERSONAL CARE           4162           4
289               PERSONAL CARE           4176          13
290               PERSONAL CARE           4198           1
291                PET SUPPLIES           6516           9
292                PET SUPPLIES           6517           5
293     PLAYERS AND ELECTRONICS           5446          17
294                     POULTRY           2412           1
295                     POULTRY           2416          17
296                     POULTRY           2420          36
297              PREPARED FOODS           2904           2
298              PREPARED FOODS           2906           1
299              PREPARED FOODS           2954           1
300              PREPARED FOODS           2956           2
301              PREPARED FOODS           2960           2
302              PREPARED FOODS           2962           3
303              PREPARED FOODS           2966           5
304              PREPARED FOODS           2970           1
305              PREPARED FOODS           2980           2
306              PREPARED FOODS           2986           7
307                     PRODUCE           2002           9
308                     PRODUCE           2004          16
309                     PRODUCE           2006          41
310                     PRODUCE           2008          34
311                     PRODUCE           2010           8
312                     PRODUCE           2012          15
313                     PRODUCE           2014          14
314                     PRODUCE           2016          27
315                     PRODUCE           2018          31
316                     PRODUCE           2020          14
317                     PRODUCE           2022           8
318                     PRODUCE           2024           1
319                     PRODUCE           2026          17
320                     PRODUCE           2028          33
321                     PRODUCE           2030           9
322                     PRODUCE           2032          19
323                     PRODUCE           2034           7
324                     PRODUCE           2070           1
325                     PRODUCE           2074           2
326  SCHOOL AND OFFICE SUPPLIES           6404           1
327  SCHOOL AND OFFICE SUPPLIES           6412           1
328  SCHOOL AND OFFICE SUPPLIES           6414           3
329  SCHOOL AND OFFICE SUPPLIES           6426           1
330  SCHOOL AND OFFICE SUPPLIES           6448           4
331  SCHOOL AND OFFICE SUPPLIES           6482           5
332                     SEAFOOD           2802           2
333                     SEAFOOD           2806           1
334                     SEAFOOD           2850           2
335                     SEAFOOD           2854           2
336                     SEAFOOD           2864           1

In [21]:
df = df.merge(df_article, how = 'inner', on = 'ARTICLE_ID')
df.head()

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE,DAY_QUALITY,ARTICLE_GROUP,ARTICLE_CLASS
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1067
1,2017-06-08,1,99197,1.0,0,6,23,8,3,0,159,0.0,152,7,4.296499,GROCERY I,1067
2,2017-06-15,1,99197,2.0,0,6,24,15,3,0,166,0.0,152,14,4.296499,GROCERY I,1067
3,2017-06-29,1,99197,1.0,0,6,26,29,3,0,180,0.0,152,28,4.296499,GROCERY I,1067
4,2017-06-08,3,99197,3.0,0,6,23,8,3,0,159,0.0,152,7,3.318019,GROCERY I,1067

In [22]:
temp = df.groupby(['ARTICLE_GROUP', 'ARTICLE_CLASS','STORE_ID', 'MONTH', 'DAY']).agg({'SALES': 'sum'}).reset_index()
temp.head()

  ARTICLE_GROUP  ARTICLE_CLASS  STORE_ID  MONTH  DAY  SALES
0    AUTOMOTIVE           6806         1      6    1    4.0
1    AUTOMOTIVE           6806         1      6    2    7.0
2    AUTOMOTIVE           6806         1      6    3    3.0
3    AUTOMOTIVE           6806         1      6    5    2.0
4    AUTOMOTIVE           6806         1      6    7    3.0

In [23]:
temp = temp[temp['DAY']<=15].groupby(['ARTICLE_GROUP', 'ARTICLE_CLASS','STORE_ID', 'MONTH'])['SALES']\
.sum().reset_index().rename(columns = {'SALES': 'FIRST_PART_MONTH_SALES'})\
.merge(temp[temp['DAY']>15].groupby(['ARTICLE_GROUP', 'ARTICLE_CLASS','STORE_ID', 'MONTH'])['SALES']\
.sum().reset_index().rename(columns = {'SALES': 'SECOND_PART_MONTH_SALES'}), on = ['ARTICLE_GROUP'\
,'ARTICLE_CLASS','STORE_ID', 'MONTH'], how = 'inner') 

temp['NEXT_MONTH'] = temp['MONTH'].apply(lambda x: (x + 1) %12)
temp.head()

,ARTICLE_GROUP,ARTICLE_CLASS,STORE_ID,MONTH,FIRST_PART_MONTH_SALES,SECOND_PART_MONTH_SALES,NEXT_MONTH
0,AUTOMOTIVE,6806,1,6,25.0,25.0,7
1,AUTOMOTIVE,6806,1,7,26.0,39.0,8
2,AUTOMOTIVE,6806,2,6,16.0,36.0,7
3,AUTOMOTIVE,6806,2,7,22.0,38.0,8
4,AUTOMOTIVE,6806,3,6,68.0,81.0,7

In [24]:
temp1 = temp.groupby(['ARTICLE_GROUP', 'MONTH', 'NEXT_MONTH'])\
.agg({'FIRST_PART_MONTH_SALES': sum, 'SECOND_PART_MONTH_SALES': sum}).reset_index()\
.rename(columns = {'FIRST_PART_MONTH_SALES': 'FIRST_PART_MONTH_SALES_ARTICLE_GROUP', 
                   'SECOND_PART_MONTH_SALES': 'SECOND_PART_MONTH_SALES_ARTICLE_GROUP'})
temp1

,ARTICLE_GROUP,MONTH,NEXT_MONTH,FIRST_PART_MONTH_SALES_ARTICLE_GROUP,SECOND_PART_MONTH_SALES_ARTICLE_GROUP
0,AUTOMOTIVE,6,7,6158.000,5793.000
1,AUTOMOTIVE,7,8,5974.000,6192.000
2,BABY CARE,6,7,144.000,135.000
3,BABY CARE,7,8,191.000,150.000
4,BEAUTY,6,7,4253.000,4522.000
5,BEAUTY,7,8,4933.000,4661.000
6,BEVERAGES,6,7,3090944.000,2708845.000
7,BEVERAGES,7,8,3015565.000,3188421.000
8,BOOKS,6,7,33.000,19.000
9,BOOKS,7,8,16.000,15.000
10,BREAD/BAKERY,6,7,453673.814,446252.374
11,BREAD/BAKERY,7,8,463973.684,465548.720
12,CELEBRATION,6,7,11375.000,10832.000
13,CELEBRATION,7,8,11392.000,11287.000
14,CLEANING,6,7,1017812.000,972554.000
15,CLEANING,7,8,1135492.000,1163452.000
16,DAIRY,6,7,778726.000,731968.000
17,DAIRY,7,8,758802.000,746706.000
18,DELI,6,7,268504.201,246174.857
19,DELI,7,8,276064.219,267845.821
20,EGGS,6,7,168266.000,159155.000
21,EGGS,7,8,165490.000,177659.000
22,FROZEN FOODS,6,7,112610.125,109587.879
23,FROZEN FOODS,7,8,113319.116,110231.359
24,GROCERY I,6,7,4063431.981,3553586.761
25,GROCERY I,7,8,3915593.624,3957510.057
26,GROCERY II,6,7,23363.000,24037.000
27,GROCERY II,7,8,25583.000,32359.000
28,HARDWARE,6,7,1182.000,1087.000
29,HARDWARE,7,8,1291.000,1259.000
30,HOME AND KITCHEN I,6,7,27094.000,26905.000
31,HOME AND KITCHEN I,7,8,26728.000,25571.000
32,HOME AND KITCHEN II,6,7,26522.000,23106.000
33,HOME AND KITCHEN II,7,8,24900.000,26420.000
34,HOME APPLIANCES,6,7,546.000,481.000
35,HOME APPLIANCES,7,8,363.000,256.000
36,HOME CARE,6,7,230013.000,234184.000
37,HOME CARE,7,8,276954.000,286449.000
38,LADIESWEAR,6,7,9895.000,9438.000
39,LADIESWEAR,7,8,9887.000,10180.000
40,LAWN AND GARDEN,6,7,13024.000,14252.000
41,LAWN AND GARDEN,7,8,13837.000,13607.000
42,LINGERIE,6,7,5570.000,5378.000
43,LINGERIE,7,8,5546.000,5293.000
44,"LIQUOR,WINE,BEER",6,7,67457.000,86860.000
45,"LIQUOR,WINE,BEER",7,8,79127.000,80301.000
46,MAGAZINES,6,7,5300.000,4686.000
47,MAGAZINES,7,8,4916.000,5515.000
48,MEATS,6,7,316974.236,312200.889
49,MEATS,7,8,315582.126,323745.313
50,PERSONAL CARE,6,7,285538.000,231914.000
51,PERSONAL CARE,7,8,265283.000,273983.000
52,PET SUPPLIES,6,7,7751.000,7167.000
53,PET SUPPLIES,7,8,7834.000,7167.000
54,PLAYERS AND ELECTRONICS,6,7,9622.000,8747.000
55,PLAYERS AND ELECTRONICS,7,8,9825.000,9980.000
56,POULTRY,6,7,342126.452,316514.120
57,POULTRY,7,8,335940.592,335762.859
58,PREPARED FOODS,6,7,74831.607,72410.799
59,PREPARED FOODS,7,8,74860.402,76541.527
60,PRODUCE,6,7,1971840.130,1921630.527
61,PRODUCE,7,8,1993309.545,2012061.925
62,SCHOOL AND OFFICE SUPPLIES,6,7,1427.000,1039.000
63,SCHOOL AND OFFICE SUPPLIES,7,8,1105.000,4033.000
64,SEAFOOD,6,7,15103.186,16204.936
65,SEAFOOD,7,8,17740.386,17256.230

In [25]:
df = df.merge(temp1.drop('MONTH', axis = 1), left_on = ['MONTH', 'ARTICLE_GROUP'], \
              right_on = ['NEXT_MONTH', 'ARTICLE_GROUP'], how = 'left')
df.drop('NEXT_MONTH', axis = 1, inplace = True)
df['FIRST_PART_MONTH_SALES_ARTICLE_GROUP'] = df['FIRST_PART_MONTH_SALES_ARTICLE_GROUP'].fillna(0)
df['SECOND_PART_MONTH_SALES_ARTICLE_GROUP'] = df['SECOND_PART_MONTH_SALES_ARTICLE_GROUP'].fillna(0)
df.head()

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE,DAY_QUALITY,ARTICLE_GROUP,ARTICLE_CLASS,FIRST_PART_MONTH_SALES_ARTICLE_GROUP,SECOND_PART_MONTH_SALES_ARTICLE_GROUP
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1067,0.0,0.0
1,2017-06-08,1,99197,1.0,0,6,23,8,3,0,159,0.0,152,7,4.296499,GROCERY I,1067,0.0,0.0
2,2017-06-15,1,99197,2.0,0,6,24,15,3,0,166,0.0,152,14,4.296499,GROCERY I,1067,0.0,0.0
3,2017-06-29,1,99197,1.0,0,6,26,29,3,0,180,0.0,152,28,4.296499,GROCERY I,1067,0.0,0.0
4,2017-06-08,3,99197,3.0,0,6,23,8,3,0,159,0.0,152,7,3.318019,GROCERY I,1067,0.0,0.0

In [26]:
temp1 = temp.groupby(['ARTICLE_CLASS', 'MONTH', 'NEXT_MONTH'])\
.agg({'FIRST_PART_MONTH_SALES': sum, 'SECOND_PART_MONTH_SALES': sum}).reset_index()\
.rename(columns = {'FIRST_PART_MONTH_SALES': 'FIRST_PART_MONTH_SALES_ARTICLE_CLASS', 
                   'SECOND_PART_MONTH_SALES': 'SECOND_PART_MONTH_SALES_ARTICLE_CLASS'})
temp1

,ARTICLE_CLASS,MONTH,NEXT_MONTH,FIRST_PART_MONTH_SALES_ARTICLE_CLASS,SECOND_PART_MONTH_SALES_ARTICLE_CLASS
0,1002,6,7,40443.864,39441.707
1,1002,7,8,43344.624,49203.057
2,1003,6,7,3639.000,3604.000
3,1003,7,8,3874.000,3986.000
4,1004,6,7,179379.000,167152.000
...,...,...,...,...,...
629,7016,7,8,1032.000,928.000
630,7034,6,7,3077.000,3083.000
631,7034,7,8,3219.000,3090.000
632,7780,6,7,9895.000,9438.000
633,7780,7,8,9887.000,10180.000

In [27]:
df = df.merge(temp1.drop('MONTH', axis = 1), left_on = ['MONTH', 'ARTICLE_CLASS'], \
              right_on = ['NEXT_MONTH', 'ARTICLE_CLASS'], how = 'left')
df.drop('NEXT_MONTH', axis = 1, inplace = True)
df['FIRST_PART_MONTH_SALES_ARTICLE_CLASS'] = df['FIRST_PART_MONTH_SALES_ARTICLE_CLASS'].fillna(0)
df['SECOND_PART_MONTH_SALES_ARTICLE_CLASS'] = df['SECOND_PART_MONTH_SALES_ARTICLE_CLASS'].fillna(0)
df.head()

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE,DAY_QUALITY,ARTICLE_GROUP,ARTICLE_CLASS,FIRST_PART_MONTH_SALES_ARTICLE_GROUP,SECOND_PART_MONTH_SALES_ARTICLE_GROUP,FIRST_PART_MONTH_SALES_ARTICLE_CLASS,SECOND_PART_MONTH_SALES_ARTICLE_CLASS
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0
1,2017-06-08,1,99197,1.0,0,6,23,8,3,0,159,0.0,152,7,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0
2,2017-06-15,1,99197,2.0,0,6,24,15,3,0,166,0.0,152,14,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0
3,2017-06-29,1,99197,1.0,0,6,26,29,3,0,180,0.0,152,28,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0
4,2017-06-08,3,99197,3.0,0,6,23,8,3,0,159,0.0,152,7,3.318019,GROCERY I,1067,0.0,0.0,0.0,0.0

In [28]:
temp1 = temp.groupby(['STORE_ID', 'MONTH', 'NEXT_MONTH'])\
.agg({'FIRST_PART_MONTH_SALES': sum, 'SECOND_PART_MONTH_SALES': sum}).reset_index()\
.rename(columns = {'FIRST_PART_MONTH_SALES': 'FIRST_PART_MONTH_SALES_STORE_ID', 
                   'SECOND_PART_MONTH_SALES': 'SECOND_PART_MONTH_SALES_STORE_ID'})
temp1

,STORE_ID,MONTH,NEXT_MONTH,FIRST_PART_MONTH_SALES_STORE_ID,SECOND_PART_MONTH_SALES_STORE_ID
0,1,6,7,170702.181,165332.015
1,1,7,8,161125.908,162764.862
2,2,6,7,238485.982,232237.358
3,2,7,8,235763.333,238481.532
4,3,6,7,598389.639,552940.133
5,3,7,8,574289.298,585068.261
6,4,6,7,207244.395,195522.839
7,4,7,8,197536.871,205490.549
8,5,6,7,156999.400,148372.761
9,5,7,8,157881.508,167728.427
10,6,6,7,286552.298,270564.789
11,6,7,8,275907.022,280899.668
12,7,6,7,331363.061,317413.200
13,7,7,8,305677.868,299312.989
14,8,6,7,354622.794,335091.481
15,8,7,8,346726.470,349155.601
16,9,6,7,304345.872,251401.231
17,9,7,8,297050.376,268764.972
18,10,6,7,100729.156,84933.192
19,10,7,8,98847.426,103026.484
20,11,6,7,332010.457,265441.957
21,11,7,8,335879.038,294375.609
22,12,6,7,122530.393,112101.521
23,12,7,8,120298.452,126095.542
24,13,6,7,117521.319,93867.703
25,13,7,8,107290.618,106303.841
26,14,6,7,136789.237,107494.782
27,14,7,8,123878.297,132503.173
28,15,6,7,128636.236,112351.284
29,15,7,8,120888.237,118626.442
30,16,6,7,113154.615,93737.855
31,16,7,8,100091.841,101570.864
32,17,6,7,233145.934,199912.150
33,17,7,8,220387.142,224532.170
34,18,6,7,180877.027,157000.630
35,18,7,8,171515.247,161246.879
36,19,6,7,138794.776,131536.917
37,19,7,8,146092.856,148231.324
38,20,6,7,255573.061,201491.090
39,20,7,8,252532.015,262505.467
40,21,6,7,198835.761,178781.422
41,21,7,8,206673.438,226239.033
42,22,6,7,103099.484,94019.941
43,22,7,8,109669.464,112831.351
44,23,6,7,129305.007,125135.656
45,23,7,8,123458.190,129115.537
46,24,6,7,275959.105,275915.382
47,24,7,8,274274.139,281025.771
48,25,6,7,102944.176,102160.204
49,25,7,8,111761.264,134525.452
50,26,6,7,78313.884,76718.128
51,26,7,8,77342.759,86967.012
52,27,6,7,229917.114,226907.440
53,27,7,8,233723.150,255348.935
54,28,6,7,242904.669,215208.435
55,28,7,8,238769.569,235068.205
56,29,6,7,185493.113,174647.110
57,29,7,8,194998.902,201379.468
58,30,6,7,83229.429,100869.208
59,30,7,8,104063.332,102869.464
60,31,6,7,203192.547,193013.235
61,31,7,8,213815.861,233412.345
62,32,6,7,64824.383,56414.129
63,32,7,8,84957.094,72425.683
64,33,6,7,155794.445,144579.867
65,33,7,8,156758.354,156452.672
66,34,6,7,160502.437,153999.386
67,34,7,8,164538.381,167127.750
68,35,6,7,80658.767,73787.534
69,35,7,8,79572.781,87109.931
70,36,6,7,177542.297,156107.105
71,36,7,8,175238.716,184660.328
72,37,6,7,221237.886,203485.113
73,37,7,8,220198.470,223081.177
74,38,6,7,204400.904,199322.092
75,38,7,8,220320.167,218817.454
76,39,6,7,278840.710,224290.118
77,39,7,8,267619.867,276134.737
78,40,6,7,239567.819,203794.866
79,40,7,8,259024.161,258465.977
80,41,6,7,211846.533,199679.407
81,41,7,8,199896.632,244432.805
82,42,6,7,210774.438,192894.815
83,42,7,8,208832.160,209670.887
84,43,6,7,207036.798,213637.009
85,43,7,8,252696.015,252205.428
86,44,6,7,708836.964,662330.374
87,44,7,8,721049.227,732547.328
88,45,6,7,659953.909,604983.016
89,45,7,8,657171.928,670623.871
90,46,6,7,524555.456,440514.185
91,46,7,8,493059.754,497264.318
92,47,6,7,622920.127,564634.747
93,47,7,8,601560.640,621523.302
94,48,6,7,409589.247,343247.387
95,48,7,8,410265.446,421714.527
96,49,6,7,579247.625,537829.599
97,49,7,8,558683.204,534123.045
98,50,6,7,332110.296,303453.057
99,50,7,8,342756.408,355127.059
100,51,6,7,368367.697,360065.677
101,51,7,8,373172.681,384830.318
102,52,6,7,315162.329,312041.642
103,52,7,8,339904.398,379751.208
104,53,6,7,177699.618,173038.164
105,53,7,8,183660.912,194444.115
106,54,6,7,157977.925,151416.804
107,54,7,8,148270.407,169418.662

In [29]:
df = df.merge(temp1.drop('MONTH', axis = 1), left_on = ['MONTH', 'STORE_ID'], right_on = ['NEXT_MONTH', 'STORE_ID'], \
              how = 'left')
df.drop('NEXT_MONTH', axis = 1, inplace = True)
df['FIRST_PART_MONTH_SALES_STORE_ID'] = df['FIRST_PART_MONTH_SALES_STORE_ID'].fillna(0)
df['SECOND_PART_MONTH_SALES_STORE_ID'] = df['SECOND_PART_MONTH_SALES_STORE_ID'].fillna(0)
df.head()

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE,DAY_QUALITY,ARTICLE_GROUP,ARTICLE_CLASS,FIRST_PART_MONTH_SALES_ARTICLE_GROUP,SECOND_PART_MONTH_SALES_ARTICLE_GROUP,FIRST_PART_MONTH_SALES_ARTICLE_CLASS,SECOND_PART_MONTH_SALES_ARTICLE_CLASS,FIRST_PART_MONTH_SALES_STORE_ID,SECOND_PART_MONTH_SALES_STORE_ID
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0
1,2017-06-08,1,99197,1.0,0,6,23,8,3,0,159,0.0,152,7,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-06-15,1,99197,2.0,0,6,24,15,3,0,166,0.0,152,14,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0
3,2017-06-29,1,99197,1.0,0,6,26,29,3,0,180,0.0,152,28,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0
4,2017-06-08,3,99197,3.0,0,6,23,8,3,0,159,0.0,152,7,3.318019,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0

## Attributes for STORE

In [30]:
df = df.merge(df_store, on = 'STORE_ID', how = 'inner')
print(df.shape)
df.head()

(8019163, 27)

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE,DAY_QUALITY,ARTICLE_GROUP,ARTICLE_CLASS,FIRST_PART_MONTH_SALES_ARTICLE_GROUP,SECOND_PART_MONTH_SALES_ARTICLE_GROUP,FIRST_PART_MONTH_SALES_ARTICLE_CLASS,SECOND_PART_MONTH_SALES_ARTICLE_CLASS,FIRST_PART_MONTH_SALES_STORE_ID,SECOND_PART_MONTH_SALES_STORE_ID,CITY_ID,REGION_ID,TYPE_ID,CLUSTER_ID
0,2017-06-01,1,99197,3.0,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13
1,2017-06-08,1,99197,1.0,0,6,23,8,3,0,159,0.0,152,7,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13
2,2017-06-15,1,99197,2.0,0,6,24,15,3,0,166,0.0,152,14,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13
3,2017-06-29,1,99197,1.0,0,6,26,29,3,0,180,0.0,152,28,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13
4,2017-06-02,1,99197,2.0,0,6,22,2,4,0,153,0.0,152,1,5.083510,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13

In [31]:
df_sales_count

         DAY_ID  STORE_ID  SALES_COUNT
0    2017-06-01         1         1815
1    2017-06-01         2         1802
2    2017-06-01         3         3066
3    2017-06-01         4         1289
4    2017-06-01         5         1266
...         ...       ...          ...
4099 2017-08-15        50         2804
4100 2017-08-15        51         1573
4101 2017-08-15        52         2255
4102 2017-08-15        53          932
4103 2017-08-15        54          802

[4104 rows x 3 columns]

In [32]:
df = df.merge(df_sales_count, on = ['DAY_ID', 'STORE_ID'])
print(df.shape)
df

(8019163, 28)

,DAY_ID,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE,DAY_QUALITY,ARTICLE_GROUP,ARTICLE_CLASS,FIRST_PART_MONTH_SALES_ARTICLE_GROUP,SECOND_PART_MONTH_SALES_ARTICLE_GROUP,FIRST_PART_MONTH_SALES_ARTICLE_CLASS,SECOND_PART_MONTH_SALES_ARTICLE_CLASS,FIRST_PART_MONTH_SALES_STORE_ID,SECOND_PART_MONTH_SALES_STORE_ID,CITY_ID,REGION_ID,TYPE_ID,CLUSTER_ID,SALES_COUNT
0,2017-06-01,1,99197,3.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1067,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13,1815
1,2017-06-01,1,103520,2.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1028,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13,1815
2,2017-06-01,1,105574,11.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1045,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13,1815
3,2017-06-01,1,105575,9.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1045,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13,1815
4,2017-06-01,1,105577,2.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,GROCERY I,1045,0.0,0.0,0.0,0.0,0.0,0.0,0,0,D,13,1815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8019158,2017-06-07,35,1445215,4.000,0,6,23,7,2,0,158,0.0,152,6,2.965928,FROZEN FOODS,2246,0.0,0.0,0.0,0.0,0.0,0.0,14,8,C,3,605
8019159,2017-06-07,35,584032,16.714,0,6,23,7,2,0,158,0.0,152,6,2.965928,MEATS,2302,0.0,0.0,0.0,0.0,0.0,0.0,14,8,C,3,605
8019160,2017-06-07,35,1970094,1.000,0,6,23,7,2,0,158,0.0,152,6,2.965928,AUTOMOTIVE,6848,0.0,0.0,0.0,0.0,0.0,0.0,14,8,C,3,605
8019161,2017-06-07,35,1935601,1.000,0,6,23,7,2,0,158,0.0,152,6,2.965928,GROCERY I,1004,0.0,0.0,0.0,0.0,0.0,0.0,14,8,C,3,605
8019162,2017-06-07,35,1371395,3.000,0,6,23,7,2,0,158,0.0,153,5,2.965928,HOME AND KITCHEN I,6246,0.0,0.0,0.0,0.0,0.0,0.0,14,8,C,3,605

In [33]:
X_train = df[df['SALES'].notna()].drop('DAY_ID', axis = 1)

In [34]:
# define ordinal encoding
encoder = OrdinalEncoder(handle_unknown='value',handle_missing='value')
# transform data
X_train = encoder.fit_transform(X_train, cols = ['ARTICLE_GROUP'])
X_train

,STORE_ID,ARTICLE_ID,SALES,IS_ACTION,MONTH,WEEK,DAY,WEEK_DAY,IS_WEEKEND,DAY_OF_YEAR,IS_HOLIDAY,FIRST_SALE_DAY,PREV_DAYS_ON_SALE,DAY_QUALITY,ARTICLE_GROUP,ARTICLE_CLASS,FIRST_PART_MONTH_SALES_ARTICLE_GROUP,SECOND_PART_MONTH_SALES_ARTICLE_GROUP,FIRST_PART_MONTH_SALES_ARTICLE_CLASS,SECOND_PART_MONTH_SALES_ARTICLE_CLASS,FIRST_PART_MONTH_SALES_STORE_ID,SECOND_PART_MONTH_SALES_STORE_ID,CITY_ID,REGION_ID,TYPE_ID,CLUSTER_ID,SALES_COUNT
0,1,99197,3.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,1,1067,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,13,1815
1,1,103520,2.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,1,1028,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,13,1815
2,1,105574,11.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,1,1045,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,13,1815
3,1,105575,9.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,1,1045,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,13,1815
4,1,105577,2.000,0,6,22,1,3,0,152,0.0,152,0,4.296499,1,1045,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,13,1815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8019158,35,1445215,4.000,0,6,23,7,2,0,158,0.0,152,6,2.965928,16,2246,0.0,0.0,0.0,0.0,0.0,0.0,14,8,4,3,605
8019159,35,584032,16.714,0,6,23,7,2,0,158,0.0,152,6,2.965928,12,2302,0.0,0.0,0.0,0.0,0.0,0.0,14,8,4,3,605
8019160,35,1970094,1.000,0,6,23,7,2,0,158,0.0,152,6,2.965928,14,6848,0.0,0.0,0.0,0.0,0.0,0.0,14,8,4,3,605
8019161,35,1935601,1.000,0,6,23,7,2,0,158,0.0,152,6,2.965928,1,1004,0.0,0.0,0.0,0.0,0.0,0.0,14,8,4,3,605
8019162,35,1371395,3.000,0,6,23,7,2,0,158,0.0,153,5,2.965928,20,6246,0.0,0.0,0.0,0.0,0.0,0.0,14,8,4,3,605

In [35]:
X_val = X_train[(X_train['MONTH']==7)&(X_train['DAY']>23)]
X_train = X_train[((X_train['MONTH']==7)&(X_train['DAY']<=23))|(X_train['MONTH']!=7)]

y_train = X_train['SALES']
y_val = X_val['SALES']

X_train.drop('SALES', axis = 1, inplace = True) 
X_val.drop('SALES', axis = 1, inplace = True) 
print('X_train.shape: ', X_train.shape)
print('y_train.shape: ', y_train.shape)

print('X_val.shape: ', X_val.shape)
print('y_val.shape: ', y_val.shape)

X_train.shape:  (5611922, 26)
y_train.shape:  (5611922,)
X_val.shape:  (836273, 26)
y_val.shape:  (836273,)

In [36]:
X_test = df[df['SALES'].isna()].drop('DAY_ID', axis = 1)
X_test = encoder.transform(X_test)
X_test.drop('SALES', axis = 1, inplace = True)
print('X_test.shape: ', X_test.shape)

X_test.shape:  (1570968, 26)

In [37]:
del df

In [39]:
hyper_params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': ['l1','l2'],
    'learning_rate': 0.005,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.7,
    'bagging_freq': 10,
    'verbose': 0,
    "max_depth": 8,
    "num_leaves": 128,  
    "max_bin": 512,
    "num_iterations": 1000
}

In [40]:
gbm = lgbm.LGBMRegressor(**hyper_params)
gbm.fit(X_train, y_train)

[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=10, subsample_freq=0 will be ignored. Current value: bagging_freq=10
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=10, subsample_freq=0 will be ignored. Current value: bagging_freq=10
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.252277 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.

LGBMRegressor(bagging_fraction=0.7, bagging_freq=10, boosting_type='gbdt',
              class_weight=None, colsample_bytree=1.0, feature_fraction=0.9,
              importance_type='split', learning_rate=0.005, max_bin=512,
              max_depth=8, metric=['l1', 'l2'], min_child_samples=20,
              min_child_weight=0.001, min_split_gain=0.0, n_estimators=100,
              n_jobs=-1, num_iterations=1000, num_leaves=128,
              objective='regression', random_state=None, reg_alpha=0.0,
              reg_lambda=0.0, silent='warn', subsample=1.0,
              subsample_for_bin=200000, subsample_freq=0, task='train',
              verbose=0)

In [41]:
y_pred_train = gbm.predict(X_train, num_iteration=gbm.best_iteration_)
y_pred_val = gbm.predict(X_val, num_iteration=gbm.best_iteration_)

In [48]:
print('Training set rmse: {:.4f}'.format(rmse(y_train, y_pred_train)))
print('Test set rmse: {:.4f}'.format(rmse(y_val, y_pred_val)))

Training set rmse: 21.8658
Test set rmse: 23.3215

In [49]:
df_submission['SALES'] = gbm.predict(X_test, num_iteration=gbm.best_iteration_).clip(0,20)
df_submission

            DAY_ID  STORE_ID  ARTICLE_ID      SALES
0       2017-08-01         1      103520   1.745708
1       2017-08-01         1      103665   5.276318
2       2017-08-01         1      105574   5.276318
3       2017-08-01         1      105575   3.159241
4       2017-08-01         1      105693   2.616565
...            ...       ...         ...        ...
1570963 2017-08-15        54     2089339   3.388400
1570964 2017-08-15        54     2106464   1.367103
1570965 2017-08-15        54     2110456  10.593287
1570966 2017-08-15        54     2113914   2.337943
1570967 2017-08-15        54     2116416   2.868901

[1570968 rows x 4 columns]

In [50]:
df_submission.to_csv('regression_df_submission_predicted.csv', index=False)